* {
  box-sizing: border-box;
}

body {
  background-color: steelblue;
  /* To center everything */
  display: flex;
  /* To display flex items vertically */
  align-items: center;
  /* To keep content on page center */
  justify-content: center;
  height: 100vh;
  /* To keep Scrollbar invisible */
  overflow: hidden;
  margin: 0;
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px black;
  background: white;
}

.fill {
  background-image: url('https://images.unsplash.com/photo-1533525801715-1f3764669187?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTh8fGxpZmVzdHlsZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60');
  background-size: cover;
  height: 145px;
  width: 145px;
  cursor: pointer;
}

.hold {
  border: solid 5px #ccc;
}

.hovered {
  background-color: #333;
  border-color: white;
  border-style: dashed;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}
