@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    /* To center everything */
    display: flex; 
    /* To display flex items vertically */
    flex-direction: column;
    align-items: center;
    /* To keep content on page center */
    justify-content: center;
    height: 100vh;
    /* To keep Scrollbar invisible */
    overflow: hidden;
    margin:0;
} 